name: Run Build and Checks on Pull Request

on:
  pull_request:
    types: 
      - opened
      - reopened
      - synchronize

jobs:
  check-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
      - run: npm install
      
      - name: Run Tests (and pass if none found)
        run: npx jest --ci --coverage --maxWorkers=2 --passWithNoTests
        continue-on-error: false

      - name: Lint Code for unused variables, etc.
        run: npx eslint . --ext .js,.jsx --max-warnings 0